/IBD_model_development/plots/
/IBD_model_development/saved_models/
/IBD_model_wordcount_binary/plots/
/IBD_model_wordcount_binary/saved_models/
/IBD_temporal_analysis/saved_models/
/IBD_temporal_analysis/plots/
/.venv/
